.collapse {
    padding-left: 70%;
}
#color{
    background-color:  lightcoral;
    opacity: 0.8;
}
.col-3{
    height: 35vh;
    background-color: lightcoral;
    opacity: 0.8;
}
#img1{
    width: 10vh;
}
.col-5{
    height: 35vh;
    background-color: lightcoral;
    opacity: 0.8;
}
.text1{
    padding-top: 10%;
    font-size: 125%;
}
.text2{
    padding-top: 10%;
}
.col-4{
    height: 35vh;
    background-color: lightcoral;
    opacity: 0.8;
}
#img2{
    height: 30vh;
    width: 80%;
}
.lady{
    padding-top: 7%;
    padding-left: 20%;
}
.featured{
    margin-left: 15%;
    margin-top: 3%;
    text-decoration: underline red;
    margin-bottom: 1%;
    font-size: 120%;

}
#box1{
    margin-left: 16%;
    height: 45vh;
    
    
  
  }
#box2{
      margin-left: 1%;
      height: 45vh;
  }
  .text_1{
      font-size: 110%;
  }
  .text_2{
      font-size: 80%;
  }
  .text_3{
      font-size: 80%;
      padding-top: 10%;
  }
  .text2_1{
    font-size: 110%;
}
.text2_2{
    font-size: 80%;
}
.text2_3{
    font-size: 80%;
    padding-top: 10%;
}
.container3{
    background-color: lightcoral;
    opacity: 0.8;
    margin-top: 7%;
}
.heading{
    padding-top: 3%;
    padding-left: 5%;
    font-size: 110%;
    text-decoration: underline red;
}
.col-8{
    background-color: lightcoral;
    opacity: 0.8;
    margin-top: 2%;
    padding-left: 10%;
}
#box4{
    margin-top: 2%;
}
.text3_1{
    font-size: 110%;
}
#image_sneaky{
    width: 30vw;
    padding-left: 10%;
}
#boxes{
    background-color: black;
}
.text4_1{
    font-size: 110%;
    color: white;
    margin-bottom: 7%;
}
.text4_3{
    font-size: 110%;
    color: white;
    margin-bottom: 7%;
}
.text4_5{
    font-size: 110%;
    color: white;
    margin-bottom: 7%;
}
.text4_7{
    font-size: 110%;
    color: white;
    margin-bottom: 7%;
}
.text4_2{
    font-size: 90%;
    color: white;
}
.text4_4{
    font-size: 90%;
    color: white;
}
.text4_6{
    font-size: 90%;
    color: white;
}
.about{
    padding-top: 10%;
    padding-left: 10%;
}
.address{
    padding-top: 10%;
    padding-left: 10%;
}
.contact{
    padding-top: 10%;
    padding-left: 10%;
}
.social{
    padding-top: 10%;
    padding-left: 10%;
}
