#color{
    background-color: #fff3f1;
}

.background_color1{
    background-color: #fff3f1;

}
.height{
    height: 40vh;
}
#img1{
    height: 70%;
    width: 50%;
    
}
#img2{
    height:70%;
    width: 100%;
    margin-top: 15%;
}
.featured{
    text-decoration: underline red;
}

.margin1{
    margin-right: 18px;
}
.space{
    line-height: 2;
}
.padding{
    padding-left: 15%;
}
#image_sneaky{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.sneaky{
    text-decoration: red underline;
}
.background_color2{
    background-color: black;
    color: white;
}
.social{
    display: flex;
}
.position{
    position: relative;
}
#img_position{
    position: absolute;
    left: 43%;
    height: 45px;
}
#img_position1{
    position: absolute;
    left: 86%;
    height: 50px;
}
#img_position2{
    position: absolute;
    transform: rotate(180deg);
    height: 200px;

}